.section {
	width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.section-header {
	background-color: #222;
	color: #eee;
	color: gold;
	width: 100%;
	padding: 5px;
	padding-left: 10px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 20px;
	border-radius: 5px;
}

.card-img-top {
	max-height: 250px;
	padding: 10px;
}

.navbar, .navbar-brand {
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}

.navbar-brand > * {
	display: inline-block;
	vertical-align: middle;
}

.navbar-brand > span {
	font-size: 2rem;
	margin: 0 40px 0 10px;
}

